:root {
	--defaultHeight: 600px;
	--defaultFontSize: 2em;
}

* {
	box-sizing: border-box;
}

html, body {
	background-image: linear-gradient(to bottom, #393e46, #929aab, #393e46);
	margin: 0;
	height: 100%;
	user-select: none;
}

/* Container for Intro Start */

.introContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro {
	width: 40%;
	height: 200;
	padding: 10px;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(189, 189, 189);
}

.introText {
	font-size: 1.4em;
}

.introText h1 {
	margin: 0;
	color: teal;
}

.intro p {
	color: darkslategray;
}

#introButton {
	padding: 10px;
	width: 100px;
	background-color: #393e46;
	color: #fff;
	cursor: pointer;
}

/* Container for Intro End */

/* Container for Content Start */

.container {
	width: 100%;
	display: none;
	min-height: 100vh;
	flex-direction: column;
}

/* Statistics Start */

.statistics {
	font-family: 'Lato', sans-serif;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 5px 10px;
}

.statistics div {
	font-size: var(--defaultFontSize);
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.health, .hunger, .happiness, .cash {
	float: left;
	display: flex;
	flex-direction: row;
}

.health span, .hunger span, .happiness span, .cash span {
	margin: 0 5px;
}

.time {
	float: right;
}

/* Statistics End */

/* Container for Main Content Start */

.main {
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: var(--defaultHeight);
	overflow: hidden;
}

.main div {
	display: none;
	position: absolute;
	width: 100%;
	height: var(--defaultHeight);
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main div .bg {
	display: block !important;
	height: 100% !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.homeContent, .universityContent, .jobContent, .bankContent, .gymContent, .mallContent, .worshipContent, .clubContent, .restaurantContent, .spaContent {
	position: absolute;
}

.homeContent .bg {
	background-image: url("../imgs/lifesimulator_Home.svg");
}

div.homeInfo {
	width: 250px;
	height: 40px;
	position: absolute;
	display: block;
	background-color: rgb(36, 36, 36);
	color: white;
	top: 20px;
}

div.foodAndGrocery {
	width: inherit;
	height: inherit;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(36, 36, 36);
}

div.characterStatsInfo {
	width: 250px;
	height: 120px;
	position: absolute;
	display: block;
	background-color: rgb(36, 36, 36);
	color: white;
	bottom: 40px;
}

div.intelligence, div.strength, div.spirituality {
	width: inherit;
	height: 40px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(36, 36, 36);
}

#foodAndGrocery, #intelligenceValue, #strengthValue, #spiritualityValue {
	padding-left: 5px;
	font-weight: bold;
}

.universityContent .bg {
	background-image: url("../imgs/lifesimulator_University.svg");
}

.jobContent .bg {
	background-image: url("../imgs/lifesimulator_Job.svg");
}

.bankContent .bg {
	background-image: url("../imgs/lifesimulator_Bank.svg");
}

div.bankInfo {
	width: 150px;
	height: 90px;
	display: block;
	background-color: rgb(36, 36, 36);
	color: white;
	top: 20px;
}

div.balance, div.loan, div.bills {
	width: inherit;
	height: 30px;
	position: relative;
	display: flex;
	align-items: center;
	background-color: rgb(36, 36, 36);
}

.gymContent .bg {
	background-image: url("../imgs/lifesimulator_Gym.svg");
}

.mallContent .bg {
	background-image: url("../imgs/lifesimulator_Mall.svg");
}

.worshipContent .bg {
	background-image: url("../imgs/lifesimulator_Worship.svg");
}

.clubContent .bg {
	background-image: url("../imgs/lifesimulator_Club.svg");
}

.restaurantContent .bg {
	background-image: url("../imgs/lifesimulator_Restaurant.svg");
}

.spaContent .bg {
	background-image: url("../imgs/lifesimulator_Spa.svg");
}

div.btnGroup {
	display: flex;
	background: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

div.btnGroup button {
	border-radius: 50px;
	border: 2px solid white;
	outline: none;
	padding: 10px;
	width: 170px;
	margin: 5px;
	cursor: pointer;
}

div.btnGroup button:active {
	border-color: black;
	transition: all .1s;
}

/* Container for Main Content End */

/* Places to go for Footer Section Start */

.places {
	font-family: 'Lato', sans-serif;
	width: 100%;
	padding: 5px;
	background-color: #929aab;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.places div {
	cursor: pointer;
}

.places div:hover {
	color: white;
}

.places div {
	font-size: var(--defaultFontSize);
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
}

.places div:hover {
	background-color: #393e46;
}

/* Places to go for Footer Section End */

/* Container for Content End */